<link rel="stylesheet" href="/css/homepage.css">
<div class="jumbotron d-flex justify-content-center align-items-center">
    <h1 class="display-4 pt-4 pb-4"> Welcome!</h1>
</div>
<div id="home-jumbotron">
</div>
{{!-- TODO: CREATE A CONTAINER FOR BLOG POSTS --}}
<div class="d-flex justify-content-center align-items-center pt-5 pb-5 flex-column">
    <h1 class="display-4 pt-4 pb-4">Posts</h1>
    <div class="container post-container d-flex flex-column align-items-center">
        <div class="post-info-container d-column flex-row align-items-center pt-3">
            <h3 class="display-5 post-tile">Title of Post</h3>
            <h3 class="display-5 post-date">Today</h3>
            <h3 class="display-5 post-username">Author: Felix Cagatin</h3>
        </div>
        <p class="post-content pb-5 pt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quod neque, non
            ipsa
            cumque blanditiis laudantium quo sint dolorum fugiat distinctio veniam quia commodi? Non esse inventore in
            reprehenderit assumenda. Quisquam repellendus placeat voluptates accusamus odio sit nihil consequatur, nemo
            exercitationem eveniet,
            magni iure earum assumenda rem illo et cum omnis tenetur numquam suscipit autem. Aliquam fugiat repellat
            quidem placeat!
            <br>
            <br>
            Non ullam rem omnis facilis ducimus vel quidem quaerat accusantium quam, dolor pariatur quia quod repellat
            molestias a modi iste saepe! Vitae nulla saepe quo esse delectus accusamus, aperiam id.
            Dolorem odio porro architecto voluptatibus! Facilis hic nisi dolorem. Illo eius at recusandae? Expedita
            reprehenderit impedit eligendi, animi magni quas soluta, nostrum odio dolor ex tenetur sed nihil et
            laboriosam!
            Vero temporibus aliquam ipsam tempore explicabo ea accusamus consequuntur enim, magnam aspernatur et rem
            deserunt, exercitationem inventore nobis at, quis mollitia! Similique tempore temporibus cum. Tempora nobis
            ut assumenda deserunt!
            <br>
            <br>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit rerum facere illo ab. Dignissimos ipsam
            reprehenderit doloremque autem aperiam libero tempore numquam ab fugiat? Officia, quas veniam. Asperiores,
            nesciunt voluptates.
            Temporibus culpa quas sequi nobis sed repellendus adipisci tenetur, error maiores velit quidem illum
            corporis, ullam, est ipsam voluptas quaerat veniam mollitia? Dolorum, rerum blanditiis? Harum aliquid sequi
            dicta nemo.
            Maxime rerum accusantium sed nihil itaque provident odio eius numquam dolores blanditiis. Saepe perspiciatis
            eaque sequi possimus dignissimos voluptate, sed, aut, nisi amet in cumque! Tempore officia alias a et?
            Minus, itaque odio ut accusamus nam modi labore dicta assumenda ex, perferendis earum cum? Consequatur
            voluptatibus sapiente reiciendis ullam saepe molestiae mollitia eligendi blanditiis labore ipsam porro
            libero, ratione rerum.
            Dolorem dolor facere nulla sint minus rem nemo suscipit assumenda aliquid nesciunt ipsum velit praesentium
            debitis architecto sequi qui consequuntur, molestias deserunt eveniet! Voluptatum similique impedit debitis
            numquam officia commodi.
        </p>
    </div>
    <div class="container post-container d-flex flex-column align-items-center">
        <div class="post-info-container d-column flex-row align-items-center pt-3">
            <h3 class="display-5 post-tile">Title of Post</h3>
            <h3 class="display-5 post-date">Today</h3>
            <h3 class="display-5 post-username">Author: Felix Cagatin</h3>
        </div>
        <p class="post-content pb-5 pt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quod neque, non
            ipsa
            cumque blanditiis laudantium quo sint dolorum fugiat distinctio veniam quia commodi? Non esse inventore in
            reprehenderit assumenda.
            Quisquam repellendus placeat voluptates accusamus odio sit nihil consequatur, nemo exercitationem eveniet,
            magni iure earum assumenda rem illo et cum omnis tenetur numquam suscipit autem. Aliquam fugiat repellat
            quidem placeat!
            Non ullam rem omnis facilis ducimus vel quidem quaerat accusantium quam, dolor pariatur quia quod repellat
            molestias a modi iste saepe! Vitae nulla saepe quo esse delectus accusamus, aperiam id.
            Dolorem odio porro architecto voluptatibus! Facilis hic nisi dolorem. Illo eius at recusandae? Expedita
            reprehenderit impedit eligendi, animi magni quas soluta, nostrum odio dolor ex tenetur sed nihil et
            laboriosam!
            Vero temporibus aliquam ipsam tempore explicabo ea accusamus consequuntur enim, magnam aspernatur et rem
            deserunt, exercitationem inventore nobis at, quis mollitia! Similique tempore temporibus cum. Tempora nobis
            ut assumenda deserunt!</p>
    </div>
    <div class="container post-container d-flex flex-column align-items-center">
        <div class="post-info-container d-column flex-row align-items-center pt-3">
            <h3 class="display-5 post-tile">Title of Post</h3>
            <h3 class="display-5 post-date">Today</h3>
            <h3 class="display-5 post-username">Author: Felix Cagatin</h3>
        </div>
        <p class="post-content pb-5 pt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quod neque, non
            ipsa
            cumque blanditiis laudantium quo sint dolorum fugiat distinctio veniam quia commodi? Non esse inventore in
            reprehenderit assumenda.
            Quisquam repellendus placeat voluptates accusamus odio sit nihil consequatur, nemo exercitationem eveniet,
            magni iure earum assumenda rem illo et cum omnis tenetur numquam suscipit autem. Aliquam fugiat repellat
            quidem placeat!
            Non ullam rem omnis facilis ducimus vel quidem quaerat accusantium quam, dolor pariatur quia quod repellat
            molestias a modi iste saepe! Vitae nulla saepe quo esse delectus accusamus, aperiam id.
            Dolorem odio porro architecto voluptatibus! Facilis hic nisi dolorem. Illo eius at recusandae? Expedita
            reprehenderit impedit eligendi, animi magni quas soluta, nostrum odio dolor ex tenetur sed nihil et
            laboriosam!
            Vero temporibus aliquam ipsam tempore explicabo ea accusamus consequuntur enim, magnam aspernatur et rem
            deserunt, exercitationem inventore nobis at, quis mollitia! Similique tempore temporibus cum. Tempora nobis
            ut assumenda deserunt!</p>
    </div>
    <div class="container post-container d-flex flex-column align-items-center">
        <div class="post-info-container d-column flex-row align-items-center pt-3">
            <h3 class="display-5 post-tile">Title of Post</h3>
            <h3 class="display-5 post-date">Today</h3>
            <h3 class="display-5 post-username">Author: Felix Cagatin</h3>
        </div>
        <p class="post-content pb-5 pt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quod neque, non
            ipsa
            cumque blanditiis laudantium quo sint dolorum fugiat distinctio veniam quia commodi? Non esse inventore in
            reprehenderit assumenda.
            Quisquam repellendus placeat voluptates accusamus odio sit nihil consequatur, nemo exercitationem eveniet,
            magni iure earum assumenda rem illo et cum omnis tenetur numquam suscipit autem. Aliquam fugiat repellat
            quidem placeat!
            Non ullam rem omnis facilis ducimus vel quidem quaerat accusantium quam, dolor pariatur quia quod repellat
            molestias a modi iste saepe! Vitae nulla saepe quo esse delectus accusamus, aperiam id.
            Dolorem odio porro architecto voluptatibus! Facilis hic nisi dolorem. Illo eius at recusandae? Expedita
            reprehenderit impedit eligendi, animi magni quas soluta, nostrum odio dolor ex tenetur sed nihil et
            laboriosam!
            Vero temporibus aliquam ipsam tempore explicabo ea accusamus consequuntur enim, magnam aspernatur et rem
            deserunt, exercitationem inventore nobis at, quis mollitia! Similique tempore temporibus cum. Tempora nobis
            ut assumenda deserunt!</p>
    </div>
    <div class="container post-container d-flex flex-column align-items-center">
        <div class="post-info-container d-column flex-row align-items-center pt-3">
            <h3 class="display-5 post-tile">Title of Post</h3>
            <h3 class="display-5 post-date">Today</h3>
            <h3 class="display-5 post-username">Author: Felix Cagatin</h3>
        </div>
        <p class="post-content pb-5 pt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quod neque, non
            ipsa
            cumque blanditiis laudantium quo sint dolorum fugiat distinctio veniam quia commodi? Non esse inventore in
            reprehenderit assumenda.
            Quisquam repellendus placeat voluptates accusamus odio sit nihil consequatur, nemo exercitationem eveniet,
            magni iure earum assumenda rem illo et cum omnis tenetur numquam suscipit autem. Aliquam fugiat repellat
            quidem placeat!
            Non ullam rem omnis facilis ducimus vel quidem quaerat accusantium quam, dolor pariatur quia quod repellat
            molestias a modi iste saepe! Vitae nulla saepe quo esse delectus accusamus, aperiam id.
            Dolorem odio porro architecto voluptatibus! Facilis hic nisi dolorem. Illo eius at recusandae? Expedita
            reprehenderit impedit eligendi, animi magni quas soluta, nostrum odio dolor ex tenetur sed nihil et
            laboriosam!
            Vero temporibus aliquam ipsam tempore explicabo ea accusamus consequuntur enim, magnam aspernatur et rem
            deserunt, exercitationem inventore nobis at, quis mollitia! Similique tempore temporibus cum. Tempora nobis
            ut assumenda deserunt!</p>
    </div>
</div>