<div class="container pt-5 pb-5 flex-column align-items-center">
    <h1 class="display-1 text-center" id="login-header">Log In</h1>
    <form action="/user/login" method="POST">
        <div class="form-group mb-3">
            <label for="user-email" class="form-label">Email Adress:</label>
            <input type="email" id="user-email" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label for="user-password" class="form-label">Password:</label>
            <input type="email" id="user-password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>