<div class="container pt-5 pb-5 flex-column align-items-center">
    <h1 class="display-1 text-center" id="login-header">Log Out</h1>
    <div class="container pt-5 pb-5 d-flex flex-column align-items-center">
        <button type="button" class="btn btn-lg btn-danger" id="logout-btn">Logout</button>
    </div>
</div>
<script src="/js/logout.js"></script>